.contactHours {
    display: flex;
    flex-direction: row;
    padding: 40px 0px;
}

.dataCompany {
    margin: 40px 0;
    padding-top: 40px;
}

.telephone {
    fill: #ff6500;
}

.fax {
    fill: #ff6500;
}

.column {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.left-column {
    display: inline-block;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tree-logo {
    max-height: 120px;
}