.email-form {
    padding: 20px;
    background-color: green;
    border-radius: 10px;
}

.email-form form {
    padding: 20px 0px;
}

.email-form form label {
    display: block;
    padding: 10px 0px;
    overflow: hidden;
}

.email-form form button {
    position: relative;
    float: right;
    margin-top: 10px;
}

.email-form form input,
.email-form form textarea {
    display: block;
    margin-top: 5px;
    width: 100%;
    min-height: 20px;
}

.email-form form #influencer,
.email-form form #company {
    position: relative;
    float: left;
    width: 20px;
    margin: 0 15px 0 0;
}
